body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Centra el texto dentro del content-box */
}

.titulo {
    color: #333;
    font-size: 24px;
}

.parrafo {
    color: #666;
    font-size: 18px;
    text-align: center; /* Centra los párrafos */
}

.lista-definiciones {
    text-align: center; /* Centra la lista de definiciones */
    list-style-type: none;
    padding: 0;
}

.lista-definiciones li {
    margin-bottom: 10px;
    text-align: center; /* Centra cada ítem de la lista */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
